<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.playingAround"/>
    <!--<context:annotation-config/>-->

    <bean id="office" class="com.playingAround.Office">
        <constructor-arg value="250."/>
    </bean>
    <bean id="thoughtWorker" class="com.playingAround.ThoughtWorker">
        <constructor-arg value="Bob"/>
    </bean>
    <bean id="kingfisher" class="com.playingAround.Kingfisher">
        <property name="ABV" value=".09"/>
    </bean>
    <bean id="fruitJuice" class="com.playingAround.FruitJuice"/>
    <bean id="hennessy" class="com.playingAround.Hennessy">
        <property name="ABV" value=".40"/>
    </bean>
</beans>